.main {
    width: 1140px;
    margin: auto;
    max-width: 100%;
}

.call {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.img {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.imag {
    padding-bottom: 40px;
    padding-top: 30px;
}

.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal__content {
    padding: 20px;
    background-color: white;
    transform: scale(0.5);
    max-width: 100%;
    width: 614px;
    height: 600px;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content.active {
    transform: scale(1);
}

.inp {
    margin-top: 29px;
    height: 29px;
    width: 580px;
    max-width: 100%;
    font-size: 16px;
    padding-left: 13px;
}

.inptwo {
    height: 29px;
    width: 580px;
    max-width: 100%;
    font-size: 16px;
    padding-left: 13px;
    margin-top: 29px;
}

.btn {
    height: 31px;
    width: 600px;
    max-width: 100%;
    font-size: 16px;
    padding-left: 13px;
    margin-top: 29px;
    color: white;
    background-color: dodgerblue;
}

@media only screen and (max-width: 450px) {
    .btn, .inp, .inptwo, .modal__content {
        width: 100%;
    }
}






